.loginBox {
    border-radius: 4px 4px 4px 4px;
    border-color: black;
    border-style: solid;
    border: 1px;
}

.loginBoxButton {
    padding: 7px;
    border: 2px;
    border-style: none;
    background-color: #9500FF;
    border-radius: 10px;
    margin: 5px;
    color: white;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}